<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Payment Unit Test Suite">
      <directory>./payment/tests</directory>
      <directory>./payment_form/tests</directory>
      <directory>./payment_reference/tests</directory>
    </testsuite>
  </testsuites>
  <!-- Filter for coverage reports. -->
  <filter>
    <blacklist>
      <directory>./payment/src/Tests</directory>
      <directory>./payment/tests</directory>
      <directory>./payment_form/src/Tests</directory>
      <directory>./payment_form/tests/src</directory>
      <directory>./payment_reference/src/Tests</directory>
      <directory>./payment_reference/tests</directory>
      <directory>./payment_test</directory>
      <directory>./payment_reference_test</directory>
    </blacklist>
  </filter>
</phpunit>
