/* @group payment method overview */

.payment-method-list .payment-method-disabled td {
  color: #999;
}

/* @end */

/* @group payment_line_items form element */

.payment-line-item-plugin-form {
    padding: 0 1em;
}
.payment-add-more {
    margin-top: 1em;
}

/* @end */

/* @group payment_basic line item plugin */

.payment-line-item-payment-basic .form-item {
    float: left;
    margin-right: 1em;
}
.payment-line-item-payment-basic .clear {
    clear: both;
}

/* @end */