/* @group payment method configuration overview */

.payment-method-list .payment-method-disabled td,
.payment-method-configuration-list .payment-method-configuration-disabled td {
  color: #999;
}

.payment-method-list .payment-method-disabled td,
.payment-method-configuration-list .payment-method-configuration-disabled td {
  color: #999;
}

/* @end */

/* @group payment_line_items form element */

.payment-line-item-plugin-form {
    padding: 0 1em;
}
.payment-add-more {
    margin-top: 1em;
}

/* @end */

/* @group payment_basic line item plugin */

.payment-line-item-plugin-payment_basic .form-item {
    float: left; /* LTR */
    margin-right: 1em; /* LTR */
}
[dir="rtl"] .payment-line-item-plugin-payment_basic .form-item {
    float: right;
    margin-left: 1em;
}
.payment-line-item-plugin-payment_basic .clear {
    clear: both;
}

/* @end */
